alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias '?=man'
alias ls='ls -A --color=auto'

alias g='git'

# Create a virtualenv with python3 as the interpreter
# I usually name my virtualenv .venv
alias venv="virtualenv -p $( which python3 ) .venv"
alias vac='source .venv/bin/activate'

# Revert from the three pane split (see the ide function) into a single pane
# -a kills all panes except the one specified by -t, and 0 is the first pane made (and hence the main pane)
alias xide='tmux kill-pane -a -t 0'

alias readelf='readelf -W'

alias poetry-venv='poetry show -v | grep "Using virtualenv" | cut -d \  -f 3'
alias poetry-activate='source $(poetry-venv)/bin/activate'

alias addtopath='export PATH=$( pwd ):$PATH'

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f "$HOME/.aliases.local" ] && source "$HOME/.aliases.local" || true
