# ---------------------------------
# Common aliases
# ---------------------------------

alias home='cd ~'
alias ..='cd ..'


# ---------------------------------
# Git specific aliases
# ---------------------------------

alias g='git'
alias gi='git init'
alias gra='git remote add'
alias gs='git status'
alias ga='git add'
alias gc='git commit -m'
alias gp='git push'
alias gpo='git push origin'
alias gpom='git push origin master'