# ---------------------------------
# Common aliases
# ---------------------------------

alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias '?=man'


# ---------------------------------
# Git specific aliases
# ---------------------------------

alias g='git'
# Note: these aliases have been moved to .gitconfig

# ---------------------------------
# NPM :D
# ---------------------------------

# This makes life MUCH easier :')
alias nr='npm run'
alias ni='npm install'
alias nid='npm install -D'


# ---------------------------------
# Python virtual env aliases
# ---------------------------------

# Create a virtualenv with python3 as the interpreter
# I usually name my virtualenv .venv
alias venv='virtualenv -p /usr/local/bin/python3 .venv'
alias vac='source .venv/bin/activate'

# ---------------------------------
# Aliases for the Heroku CLI
# ---------------------------------

alias h='heroku'
alias hl='heroku login'
alias hc='heroku create'
alias gphm='git push heroku master'


# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".aliases.local" ] && source ".aliases.local"