# This line imports an OS specific functions file if one exists
# Not been tested on any OS other than Mac OSX
# TODO: find a better way than uname to distinguish between linux distros
[ -f ".functions.$( uname )" ] && source ".functions.$( uname )"

# I use playgrounds to experiment with new languages and features
# without making a full fledged project
# This creates a new playground with the name given as a command line arg
play () {
        # TODO : redirect io to /dev/null and write custom messages
        if [ $# -lt 1 ] ; then
                cd "$PATH_TO_PLAYGROUND" && echo 'In playground'
        fi
        mkdir -p $PATH_TO_PLAYGROUND/$1 && cd $PATH_TO_PLAYGROUND/$1
        echo "In playground $1" 
}

# Create a new project and cd into it, does NOT check if project already exists
project () {
        # TODO : redirect io to /dev/null and write custom messages
        if [ $# -lt 1 ] ; then
                cd "$PATH_TO_PROJECTS" && echo 'In Projects'
        fi

        mkdir -p "$PATH_TO_PROJECTS/$1" && cd "$PATH_TO_PROJECTS/$1"
        echo "In project $1"
}


# Create a useful tmux split which has 3 panes
# One of which is the main pane and the other two are smaller
ide () {
  # Get the width of the screen
  screen_width=$( tmux display -p '#{window_width}')
  # The small panes will be a third the width of the window
  small_pane_width=$( expr "$screen_width" / 3 )

  # Split into two halves horizontally
  tmux split-window -h
  # Split the second half into two halves. These are the small panes
  tmux split-window
  # Resize the small panes
  tmux resize-pane -x $small_pane_width
}


# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".functions.local" ] && source ".functions.local"
