[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit -m
	b = branch

	ra = remote add
	po = push origin
	co = checkout
	
	pom = push origin master
	
[url "https://github.com/"]
	insteadOf = gh:

[user]
	email = ajmalsiddiqui21@gmail.com
	name = Mohammed Ajmal Siddiqui
