[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit -m
	b = branch

	ra = remote add
	po = push origin
	co = checkout

	fixup = commit --amend --no-edit

	tinylog = log --all --graph --abbrev-commit --sparse --decorate --pretty=oneline

[pull]
	rebase = true

[init]
	defaultBranch = main

[url "https://github.com/"]
	insteadOf = gh:

[user]
	email = ajmalsiddiqui21@gmail.com
	name = Mohammed Ajmal Siddiqui

# Don't add any configuration below this line
# This is to support a local gitconfig file
[include]
	path = .gitconfig.local
