[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/vim-markdown"]
	path = .vim/pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/pack/plugins/start/goyo.vim"]
	path = .vim/pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/plugins/start/vim-stopwatch"]
	path = .vim/pack/plugins/start/vim-stopwatch
	url = https://github.com/ajmalsiddiqui/vim-stopwatch
